$primary: #0173aa;
.front-page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary;
  .front-page-title {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    a {
      color: #fff;
      &:hover {
        color: #eee;
        text-decoration: none;
      }
    }
  }
}
